# ▶ Python cache
__pycache__/
*.py[cod]

# ▶ Virtual Environment (가상환경)
venv/
.env/
.venv/
Include/
Lib/
Scripts/
pyvenv.cfg

# ▶ Jupyter Notebook
.ipynb_checkpoints/

# ▶ OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# ▶ Logs
*.log

# Created by venv; see https://docs.python.org/3/library/venv.html
include
Lib
Scripts
share
pyvenv.cfg
